doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign-up
    body 
    form(action="./signup" method="post")
        label Please input your email:
            input(type='text', name='email' required)
        label Please input your password: 
            input(type='password' name="password" required)
        button(type='submit') Register
    
    a(href="/signin") Already have an account? Sign in
    div #{error_msg}