extends layout.pug 

block content
    h1= character
    div One demonstration
        p #{data}
    div Another demonstration
        p= data
    div Third demonstration 
        p (Oarai)
    div A few friends of mine: 
        ul 
            each f in friends 
                li= f